---
import Layout from '../../layouts/Layout.astro';
import MapGame from '../../components/MapGame.astro';
import '../../styles/home.css';
---
<Layout title="Inicio" lang="es">

  <div class="screen-fill">
    <MapGame lang="es" />
  </div>

</Layout>

<style>
  .screen-fill {
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
  }
</style>
